body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #000000;
    text-align: center;
    padding: 100px;
}
h1 {
    color: #000000;
}
label {
    color: #000000;
}
input{
padding: 10px;
margin-top: 5px;

}

button {
    background-color: #57e692;
    color: rgb(0, 0, 0);
    border:groove 2px #124d2a;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background-color: #11743a;
    color: rgb(207, 243, 0);
}
#resultado p{
    margin-top: 10px 0;
    font-size: 20px;
}
.verde {
    color: green;
}
.vermelho{
    color:red
}