body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding:100px;
    background-color: rgb(238, 217, 217);

}
table {
    margin: auto;
    border-collapse: inherit;
    width: 70%;
}
th, td {
    padding: 10px;
    text-align: center;
}
th{
    background-color: rgb(233, 204, 152);
}
tr{

    background-color:rgb(255, 255, 255);
}
